registry=https://nexus.digitalthrive.com/repository/npm-group/
//nexus.digitalthrive.com/repository/npm-group/:_authToken=${NPM_TOKEN}
@digitalthrive:registry=https://nexus.digitalthrive.com/repository/npm-private/
//nexus.digitalthrive.com/repository/npm-private/:_authToken=${NPM_TOKEN}
always-auth=true
